.navbar {
    background-color: black;
    color: white;
    
    --line: 2.5em;
    width: 100%;
    height: var(--line);
    line-height: var(--line);

    text-align: center;
    font-size: 25px;
    font-weight: bold;
}